@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  cursor: url("public/pencursor_2x.cur") 0 0, auto;
}
.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: fade-in 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

#openTicketModal {
  border: 1px solid #d3d3d3;
  transition: border-color 0.3s ease, border-width 0.1s ease;
}

#openTicketModal:hover {
  border-color: #4E2A84;
  border-width: 2px;
}

.openNotionModal {
  transition: border-color 0.3s ease, border-width 0.1s ease;
}

.openNotionModal:hover {
  border-color: #4E2A84;
  border-width: 2px;
}

.openMultiplayerVideoModal {
  transition: border-color 0.3s ease, border-width 0.1s ease;
}

.openMultiplayerVideoModal:hover {
  border-color: #4E2A84;
  border-width: 2px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
