@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  cursor: url("public/pencursor_2x.cur") 0 0, auto;
}
.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: fade-in 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.project-card-wrapper {
  transition: all 0.3s ease;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card-wrapper:hover .project-image::after {
  opacity: 1;
}

.project-title,
.project-description {
  transition: opacity 0.3s ease;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
