:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #eaeaea; /* Cream/neutral-toned background */
}

.special-sentence {
    font-size: 40px; /* Adjust the font size as needed */
    font-weight: 400; /* 600 is typically used for semi-bold */
}

.underline-link {
    text-decoration: none;
    position: relative;
    color: #3498db;
    transition: color 0.3s ease-in-out;
}

.underline-link:hover {
    color: #2980b9; /* Change color on hover */
}

.underline-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #3498db; /* Underline color */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.underline-link:hover::after {
    width: 100%;
}


.container {
    text-align: center;
    padding: 50px;
}

.sentence {
    font-size: 18px;
}

.grid-container {
    position: relative;
    max-width: 900px; /* Adjust the maximum width of the grid container */
    margin: 0 auto; /* Center the grid container horizontally */
    margin-bottom: 20px; 
}

.data-grid, .dance-grid {
    position: absolute;
    top: 60%;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and easing as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align items horizontally */
}

.data-grid.show, .dance-grid.show {
    opacity: 1;
}

.data-grid {
    z-index: 1;
}

.dance-grid {
    z-index: 2;
}

.grid-item {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px); /* Two items in a row with 20px margin between them */
    box-sizing: border-box;
    flex: 1 1 35%; /* Equal width for each item, with some margin */
    text-align: center;
    height: 400px; /* Adjust the height as needed */
}

.grid-item img {
    max-width: 80%;
    max-height:80%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 14px;
}

.grid-item a {
    text-decoration: none;
    color: #3498db; /* Link color */
}


.navbar {
    background-color: transparent;
    padding: 10px 0;
    text-align: right; /* Align links to the right */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar .logo {
    font-weight: bold;
    font-size: 20px; /* Adjust the font size as needed */
    color: rgb(0, 0, 0); /* Text color */
    text-decoration: none;
    float: left;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* White text color */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.navbar a:hover {
    color: #ddd; /* Change color on hover */
}




/* Add more styles for the navbar if needed */
